* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(209, 229, 169);
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(251, 251, 251);
}

.container {
  width: 360px;
  border: 3px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px 20px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top .top_icons {
  font-size: 25px;
  /* margin: 10px; */
  color: black;
}
.buttons {
  border: 2px solid rgb(27, 24, 41);
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 8px;
}
.buttons .top_buttons {
  border: 0px;
  margin: 10px 15px;
}

.buttons .top_buttons:hover {
  cursor: pointer;
  background-color: rgb(130, 179, 163);
}

.image_container {
  height: 300px;
  width: auto;
  align-self: center;
  margin-top: 30px;
  border-radius: 24px;
}

.image_container .image {
  max-height: 100%;
  width: auto;
  border-radius: 24px;
}

.song_artist {
  margin: 20px 10px;
}
.song_artist .song {
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
}
.song_artist .artist {
  font-family: sans-serif;
  font-size: 14px;
}

.row_pill {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

.pill i {
  font-size: large;
}
.pill {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.row_pill .pill:nth-child(1) {
  border-right: 1px solid grey;
  padding-right: 32px;
}

.slider {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#slide {
  width: 280px;
}
.timestamp {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin: 5px 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
}

.footer .footer_icons {
  font-size: 20px;
  color: rgba(8, 8, 8, 0.942);
  /* border: 1px solid red; */
}

.footer .footer_icons:nth-child(3) {
  font-size: 55px;
}
